html,
body {
    overflow-x: hidden !important;
}

.hhero {
    font-size: 6em;
    line-height: 93%;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
.hheroland {
    font-size: 3em;
    line-height: 93%;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-transform: uppercase;
}

.pheroland {
    margin-bottom: 0;
    letter-spacing: 0.5em;
    color: rgba(255, 255, 255, 0.48);
    text-transform: uppercase;
}

@media (min-width: 300px) {
    .phero {
        color: rgba(255, 255, 255, 0.48);
        letter-spacing: 1em;
        font-size: 1em;
    }
}

.phero {
    margin-bottom: 0;
}

.ceo {
    color: rgba(166, 166, 166, 0.5);
}

.teng {
    margin-top: 16px;
    margin-bottom: 0;
    color: rgb(220, 220, 220);
}

.phost {
    max-width: 400px;
    color: rgba(255, 255, 255, 0.67);
}

.iconv {
    font-size: 70px;
    color: rgb(139, 139, 139);
}

.divimg {
    width: 100%;
    height: 100%;
}

.iconc {
    width: 80px;
    height: 80px;
}

.cryptotitle {
    color: rgb(228, 228, 228);
    letter-spacing: 0.105em;
}

.cryptotitle2 {
    color: rgb(102, 102, 102);
    letter-spacing: 0.105em;
}

.cryptotitle3 {
    color: rgb(211, 211, 211);
    letter-spacing: 0.105em;
    margin-bottom: 12px;
}

.pfooter {
    font-size: 12px;
    color: rgb(142, 142, 142);
    margin: 24px 0px;
}

@media (min-width: 768px) {
    .mdborder {
        border-top: 1px solid rgba(225, 225, 225, 0.37);
        border-bottom: 1px solid rgba(225, 225, 225, 0.37);
    }
}

@media (min-width: 768px) {
    .mdborder2 {
        border-left: 1px solid rgba(225, 225, 225, 0.37);
        border-right: 1px solid rgba(225, 225, 225, 0.37);
    }
}

@media (min-width: 768px) {
    .mdborder3 {
        border-top: 1px solid rgba(225, 225, 225, 0.37);
        /*border-bottom: 1px solid rgba(225,225,225,0.37);*/
    }
}

@media (min-width: 768px) {
    .cryptocolfix {
        height: 220px;
        padding-top: 16px;
    }
}

.espacoy {
    padding: 80px 0;
}

.anavlink {
    font-size: 18px;
    color: #020801 !important;
    margin: 0 20px;
    border-bottom: 1px solid rgba(225, 225, 225, 0);
}

.anavlink:hover {
    font-size: 18px;
    color: #020801 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    margin: 0 20px;
}

.cryptoicondiv {
    height: 120px;
    width: 120px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .smcryptocolfix {
        height: 220px;
    }
}

.navbarstyle {
    background: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(5px) contrast(130%) grayscale(79%) sepia(30%);
}

.btnnavlog {
    min-width: 110px;
    border-style: solid;
    border-color: #020801;
    margin-right: 12px;
}

.btnregist {
    border-style: solid;
    border-color: #fffffe;
}

.shad:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

li span {
    font-size: 14px;
}

.card-body h6 {
    margin-bottom: -4px;
}

.footerlink {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.footerlink:hover {
    color: rgb(255, 193, 7);
    text-decoration: none;
}

@media (max-width: 576px) {
    .hherosm {
        font-size: 4em;
    }
}

.orderbtn {
    max-width: 180px;
    margin: 0 auto;
}

.h6card {
    margin-bottom: 24px;
    margin-top: 16px;
}

@media (min-width: 768px) {
    .columncardr {
        background: #e7e7e7 !important;
        /*padding-top: 40px;*/
        /*padding-bottom: 40px;*/
        padding: 40px 0px 40px 80px;
    }
}

.columncardr {
    background: #ffffff;
    /*padding-top: 40px;*/
    /*padding-bottom: 40px;*/
    /*padding: 40px 0px 40px 40px;*/
}

@media (max-width: 768px) {
    .orderbtnmarginsm {
        margin-bottom: 32px;
    }
}

.accordionbg {
    background: rgb(217, 217, 217);
    border: none !important;
    box-shadow: none !important;
    color: #4f4f4f !important;
    /*background-image: #4f4f4f !important;*/
    /*text-align: center;*/
    /*padding: 20px 80px;*/
}

@media (min-width: 768px) {
    .accordionbg {
        /*background: rgb(217,217,217);*/
        /*border: none !important;*/
        /*box-shadow: none !important;*/
        /*color: #4f4f4f !important;*/
        /*background-image: #4f4f4f !important;*/
        /*text-align: center;*/
        padding: 20px 80px;
    }
}

/* .accordion-button {
    text-align: center;
} */

.section50vh {
    height: 50vh;
}

.FAQhead {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    background: #d9d9d9;
}

.hoveraccountcard:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 1em;
}

.plimit {
    max-width: 600px;
    margin: 0 auto;
}

.mauto {
    margin: 0 auto;
}

.divoverflowhd {
    overflow: hidden;
    position: absolute;
}

@media (max-width: 768px) {
    .marginminus {
        margin-left: -260px;
    }
}

@media (min-width: 768px) {
    .marginminus {
        margin-left: -180px;
    }
}

@media (max-width: 768px) {
    .mdmarginright0 {
        margin-left: -220px;
    }
}

@media (min-width: 768px) {
    .imgadjust {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .imgadjust {
        height: 100%;
    }
}

@media (max-width: 576px) {
    .videoadjust {
        max-width: 420px !important;
        max-height: 320px !important;
    }
}

@media (min-width: 768px) {
    .videoadjust {
        max-width: 720px !important;
        max-height: 520px !important;
    }
}

@media (min-width: 992px) {
    .videoadjust {
        max-width: 930px !important;
        /* max-height: 900px !important; */
    }
}

.bgmodal {
    background: #e7e7e7 !important;
}

/* PHONE SECTION STYLE  */

#phone .card-header {
    background-color: #fff;
}

#phone .card-body {
    background-color: #fff;
}

/* #phone .nav-tabs {
    border-bottom: 1px solid #ddd !important;
} */

#phone .nav {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}

header.special {
    padding-top: 5.5em;
    margin-bottom: 4em;
}

.wrapper.special br {
    display: none;
}

header.special:before,
header.special:after {
    width: 40%;
}

section.special,
article.special {
    text-align: center;
    /* padding: 2em 0; */
}

header.major {
    padding-bottom: 2em;
}

header.special {
    margin-bottom: 5em;
    padding-top: 7em;
    position: relative;
    text-align: center;
}

header.special:before,
header.special:after {
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: "";
    height: 7px;
    opacity: 0.1;
    position: absolute;
    top: 1.75em;
    width: 43%;
}

header.special:before {
    left: 0;
}

header.special:after {
    right: 0;
}

header.special h2 {
    margin-bottom: 0;
}

header.special h2 + p {
    margin-bottom: 0;
    padding-top: 1.5em;
}

header.special .icon {
    cursor: default;
    height: 7em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
}

header.special .icon:before {
    font-size: 3.5em;
    opacity: 0.35;
}

.prof {
    color: black;
    background-color: #e7e7e7 !important;
}

.phonemt {
    margin-top: 6em;
}

#phone ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

@media (max-width: 576px) {
    #phone ul li {
        width: 100%;
        margin: auto;
    }
}

.max-img {
    max-width: 66%;
}

@media (max-width: 576px) {
    .max-img {
        max-width: 90%;
    }
}
@media (max-width: 576px) {
    #phone ul li button {
        width: 100%;
        margin: 8px auto;
    }
}

.iconwid {
    font-size: 40px !important;
}

@media (max-width: 576px) {
    .margintopsm {
        margin-top: 44px;
    }
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.lpagelink {
    width: 100%;
}

.linkcopy {
    min-width: 80px;
}
